.imgSize{
    height: 200px;
    margin: .5em;
}

h6{
    color: #ed1d24;
    font-size: 20em;
}

.gifInteraction:hover{
    box-shadow: 0 2px 20px 0 #ed1d24, 0 2px 25px 0 rgba(51, 115, 179, 0.89);
    height: 210px;
}


.cursor{
    cursor: pointer;
}
@media (max-width: 1400) {
    .imgSize{
        height: 180px;
    }
    .gifInteraction:hover{
        height: 185px;
    }
    
    
    
}

@media (max-width: 900px) {
    .imgSize{
        height: 150px;
    }
    .gifInteraction:hover{
        height: 155px;
    }
    

}

@media (max-width: 550px) {
    
    .imgSize{
        height: 100px;
        margin: .2em;
    }
    .gifInteraction:hover{
        height: 105px;
    }
}