.imgSize{
    height: 200px;
    margin: .5em;
}

.gifInteraction:hover{
    box-shadow: 0 0 20px 0 #ed1d24, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
}

.cursor{
    cursor: pointer;
}
@media (max-width: 1400) {
    .imgSize{
        height: 180px;
    }
    
    
}

@media (max-width: 900px) {
    .imgSize{
        height: 150px;
    }
    

}

@media (max-width: 450px) {
    .imgSize{
        height: 100px;
        padding: .2em;
    }
}