.icon{
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3.8em;
    height: 3.8em;
    cursor: pointer;
}


@media (max-width: 550px) {
    .icon{
        width: 2.5em;
        height: 2.5em;
    }
}